<a href="https://colab.research.google.com/github/kimsunhyung/python_lectures/blob/main/0627python_%EC%9E%85%EB%AC%B82.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
title: "0627_python_입문2"
date: '2022-06-27'
---

In [ ]:
print("Hello WORLD")

Hello WORLD

## 주석처리
- 1줄 주석, 여러줄 주석 처리

- 프로젝트 시
  + 전체 공정 100
  + 코드/ 코드 문서화/ 한글작업 문서화

In [ ]:
# print() 함수사용
print("1줄 주석")

"""
여러 줄 주석
쌍 따움표를 앞과 뒤로
3개 입력
"""
print("여러줄 주석")

1줄 주석
여러줄 주석

## 변수 (Scalar)
- 자료형
- Scalar 형 Non-Scalar 형

### 수치형 자료
- int, float

In [ ]:
num_int = 1
print(num_int)
print(type(num_int))

1
<class 'int'>

In [ ]:
num_float = 0.1
print(num_float)
print(type(num_float))

0.1
<class 'float'>

### Bool 형
- pyhyon : True, Flase
- R : TRUE, FLASE

In [ ]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

## None 자료형
- Null값, 값이 정해지지 않은 자료형

In [ ]:
none_x=None
print(none_x)
print(type(none_x))

None
<class 'NoneType'>

## 사칙연산
- 정수형 사칙연산, 실수형 사칙연산
- 결과값의 자료형
- 정수, 실수형을 잘 구분해내야 함.

## 정수형 사칙연산
+,-,*,/,

In [ ]:
a=3
b=2
print('a+b=',a+b)
print('a-b=',a-b)
print('a*b=',a*b)
print('a/b=',a/b)

a+b= 5
a-b= 1
a*b= 6
a/b= 1.5

## 실수형 사칙연산

In [ ]:
a = 1.5
b = 2.5
print('a+b=', a+b)
print('a-b=',a-b)
print('a*b=',a*b)
print('a/b=',a/b)

a+b= 4.0
a-b= -1.0
a*b= 3.75
a/b= 0.6

## 논리형 연산자
- Bool 형
- True와 False 값으로 정의
- 조건식
  + 교집합 (=and), 합집합 (=or)

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

## 비교 연산자
 - 비교 연산자는 부등호를 의미한다

In [ ]:
print(4>3) #참 = True
print(4<3) # 거직 = False
print(4>3 or 4<3) #

True
False
True

## 논리형&비교 연산자 응용
 - input()
 - 형변환
 - 데이터 타입을 바꾸는 것

In [ ]:
var = int(input("숫자를 입력하세요..!"))
print(var)
print(type(var))

숫자를 입력하세요..!1
1
<class 'int'>

In [ ]:
num1 = int(input("첫번째 숫자를 입력하세요..!"))
num2 = int(input("두번째 숫자를 입력하세요..!"))
num3 = int(input("세번째 숫자를 입력하세요..!"))
num4 = int(input("네번째 숫자를 입력하세요..!"))

var1 = num1 >= num2 
var2 = num3 < num4 

print(var1 and var2)

첫번째 숫자를 입력하세요..!10
두번째 숫자를 입력하세요..!20
세번째 숫자를 입력하세요..!30
네번째 숫자를 입력하세요..!40
False

## String
 - Non Scalar

In [ ]:
print('hello world')
print("hello world")

print("'hello world'")
print('"hello world"')

hello world
hello world
'hello world'
"hello world"

## String Operators
  - 문자열 연산자
  - +,* 가능

In [ ]:
str1 = "hello"
str2 = "world"
print(str1 + str2)

helloworld

In [ ]:
greet = str1 + str2
print(greet*2)

helloworldhelloworld

## 문자열 인덱싱

In [ ]:
greeting = "hello kaggle"
i = 7
print(greeting[7])

a

In [ ]:
greeting = "hello kaggle"
i = int(input("숫자를 입력하세요."))
print(greeting[i])

숫자를 입력하세요.1
e

### 슬라이싱

In [ ]:
greeting = "hello kaggle"
#print(greeting[시작인덱스:끝인덱스-1])
print(greeting[0:2])

he

In [ ]:
print(greeting[:8])
print(greeting[6:])
print(greeting[0:10:4])# (시작하는 인덱스 : 지정되는 범위의 인덱스 : 건너뛰는 인덱스)

hello ka
kaggle
hog

- 문자열 관련 메서드 
  - split()
  - sort()
  - etc

## 리스트
 - []로 표시
  - [item1, item2, item3]

In [ ]:
a = [] # 빈 리스트
a_func = list()
b= [1]
c = "apple"
d = [1,2, ['apple'],'apple']
print(d)

[1, 2, ['apple', 'apple']]

### 리스트 값 수정하기
 - 리스트 값 수정

In [ ]:
a= [0,1,2]
a[0]="아무값"
print(a)

['아무값', 1, 2]

### 리스트 값 추가
   - 메서드 사용 a.append, a.extend

In [ ]:
a= [100, 200, 300]
a.append(400)

print(a)

a.append([500,600])
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, [500, 600]]

In [ ]:
a= [100, 200, 300]
a.append(400)

print(a)

a.extend([500,600])
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, 400, 500]

- insert (인덱스 위치, 값)

In [ ]:
a = [100,200,300]
a.insert(1,1000)
print(a)

[100, 1000, 200, 300]

### 리스트 값 삭제하기
  - remove(), del

In [ ]:
a = [1,2,1,2]
a.remove(1)

print(a)

[2, 1, 2]

In [ ]:
a=[0,0,1,2,3,4]
del a[1]
print(a)

del a[0:2]
print(a)

[0, 1, 2, 3, 4]
[2, 3, 4]

- pop()

In [ ]:
a= [1,2,3,4,5]
rem = a.pop(1)
print(a)
print(rem)
x= a.pop()
print(a)
print(x)

[1, 3, 4, 5]
2
[1, 3, 4]
5

- clear() : 리스트 내 모든 값 삭제
- index("값) : 값의 위치를 불러옴

In [ ]:
a= [1,4,5,2,3]
b=["철수", "영희", "길동"]
print(a.index(4))
print(b.index("길동"))

1
2

- sort: 리스트 정렬

In [ ]:
a=[1,4,5,2,3]
a.sort()
print(a)

a=[1,4,5,2,3]
a.sort(reverse=True)
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

## 튜플
  - 면접질문 : 리스트와 튜플의 차이가 무엇인가?
  - 리스트 : []를 보지 못함
     + 수정, 삭제, 추가
  - 튜플 : ()가 있어야 함
     + 수정, 삭제, 추가 불가

In [ ]:
tuple1=(0)
tuple2 = (0,)
tuple3 = 0,1,2,

print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

print(tuple1)
print(tuple2)
print(tuple3)

<class 'int'>
<class 'tuple'>
<class 'tuple'>
0
(0,)
(0, 1, 2)

In [ ]:
a= [0,1,2,3,'a']
del a[4]
print(a)

a=[0,1,2,3,'a']
a[4] = 4
print(a)

[0, 1, 2, 3]
[0, 1, 2, 3, 4]

## 튜플(=리스트) 연산자
  - 문자열 연산자
  - +,*

In [ ]:
t1 = (1,2,3)
t2 = (3,4,5)
print(t1+t2)

t1 = [1,2,3]
t2 = [3,4,5]
print(t1+t2)

(1, 2, 3, 3, 4, 5)
[1, 2, 3, 3, 4, 5]

## 딕셔너리
 - key(키)와 value(값)으로 구성됨
 - 슬라이싱! = (값의 순서가 존재해야함)
 - 순서라는 개념자체가 존재 하지 않음

In [ ]:
temp_dict = {
 'teacher':'evan',
 'class': 15,
 'student':['s1','s2','s3']
}

print(temp_dict["teacher"])
print(temp_dict['class'])
print(temp_dict['student'])

evan
15
['s1', 's2', 's3']

- keys 값만 출

In [ ]:
temp_dict.keys()
list(temp_dict.keys())

['teacher', 'class', 'student']

value 값만 출

In [ ]:
temp_dict.values()
list(temp_dict.values())

['evan', 15, ['s1', 's2', 's3']]

-items()는 key,value의 쌍으로, list와 tuple 형태로 변환됨

In [ ]:
temp_dict.items()
list(temp_dict.items())

[('teacher', 'evan'), ('class', 15), ('student', ['s1', 's2', 's3'])]

### 조건문

In [ ]:
a= int(input("숫자를 입력하세요."))
if a>5:
  print("a는 5보다 크다")
elif a>0:
  print("a는 0보다 크다")
elif a> -5:
  print("a는 -5보다 크다")
else:
  print("a는 매우작다")

숫자를 입력하세요.1
a는 0보다 크다

### 반복문

In [ ]:
for i in range(10):# i는 변수 아무거로 작성해도됨
 # print(i+1) 
 print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

- for loop if 조건문 사용
- 문자열, 리스트 등 -> 시퀀스 데이터 (반복문이 돌아가지 않을 시 시퀀스 데이터가 아님)

In [ ]:
a= "kaggle"
# g가 시작하면 반복문을 멈추세요 
for x in a:
  print(x)
  if x == 'g':
   break
  # print(x)

k
a
g

- enumerate

In [ ]:
alphabets = ['A', 'B', 'C']
for index, value in enumerate(alphabets):
  print(index, value)

0 A
1 B
2 C

## 리스트 컴프리헨션
 - list comprehension

In [ ]:
"a" in "apple"

True

In [ ]:
fruits = ['apple', 'kiwi', 'mango']
newlists = []

# 알파벳 a가 있는 과일만 추출 후, 새로운 리스트에 담기
for fruit in fruits:
  #print(fruit)
  if"a" in fruit:
    newlists.append(fruit)
print(newlists)

# 리스트 컴프리헨션
newlist = [fruit for fruit in fruits if 'a' in fruit]
print(newlist)

['apple', 'mango']
['apple', 'mango']

## 개별 타이핑 연습

### 정수형

In [ ]:
a = 123
a = -178
a= 0

### 실수형

In [ ]:
a = 1.2
a= -3.45

In [ ]:
a=4.24E10
a=4.24e-10

### 8진수, 16 진수

In [ ]:
a=0o177 # 8진수
a=0x8ff
b=0xABC # 16진수

### 숫자형을 활용하기 위한 연산자
 - 사칙 연산 +, -, *, /

In [ ]:
a=3
b=4
a+b
a*b
a/b

0.75

### x의 y제곱을 나타내는 ** 연산자

In [ ]:
a = 3
b = 4
a**b

81

나눗셈 후 나머지를 반환하는 % 연산자

In [ ]:
7%3
3%7 # 나눗셈 후 나머지 값

3

나눗셈 후 몫을 반환하는 // 연산자

In [ ]:
7//4 # 나눗셈 후 정수 값 만 반환함

1

## 문자열 자료형

### 큰따옴표, 작은따옴표 둘러싸기

In [ ]:
"Hello World"

'Hello World'

In [ ]:
'python is fun'

'python is fun'

In [ ]:
"""Life is too short, You need python"""

'Life is too short, You need python'

In [ ]:
'''Life is too short, You need python'''

'Life is too short, You need python'

In [ ]:
food = "Python's favorite food is perl"

In [ ]:
food

" Python's gavorite food is perl"

### 문자열에 큰따옴표 포함 시키기

In [ ]:
say = '"python is easy." he say.'

In [ ]:
say

'"python is easy." he say.'

### 백슬래시 사용해서 작은 따옴표, 큰따옴표를 문자열에 포함시키기

In [ ]:
food = 'python\'s favorite food is perl'# 백슬래시는 \으로 표시됨
say = "\"python is very easy.\"he says."

### 여러 줄인 문자열을 변수에 대입하고 싶을때

In [ ]:
multiline = "Life is too short\nYou need python" # 줄을 바꾸기 위해 \n 삽입

### 연속된 작은따옴펴 3개 또는 큰따옴표 3개 사용하기

In [ ]:
multiline='''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

In [ ]:
multiline="""
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

### 이스케이프 코드란?
- \n	문자열 안에서 줄을 바꿀 때 사용
- \t	문자열 사이에 탭 간격을 줄 때 사용
- \\	문자 \를 그대로 표현할 때 사용
- \'	작은따옴표(')를 그대로 표현할 때 사용
- \"	큰따옴표(")를 그대로 표현할 때 사용
- \r	캐리지 리턴(줄 바꿈 문자, 현재 커서를 가장 앞으로 이동)
- \f	폼 피드(줄 바꿈 문자, 현재 커서를 다음 줄로 이동)
- \a	벨 소리(출력할 때 PC 스피커에서 '삑' 소리가 난다)
- \b	백 스페이스
- \000	널 문자

### 문자열 연산하기

In [ ]:
head = "python"
tail = " is fun"
head + tail

'python is fun'

###문자열 곱하기

In [ ]:
a="python"
a*2

'pythonpython'

In [ ]:
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

### 문자열 길이 구하기

In [ ]:
a = "Life is too short"
len(a)

17

### 문자열 인덱싱과 슬라이싱
 - 인덱싱 : 문자의 순서를 세는 것

In [ ]:
a = "Life is too short, You need python"
a[3]# 0부터 시작됨

'e'

- 슬라이싱

In [ ]:
a[0:5]# 마지막 숫자 전까지로 정리됨

'Life '

In [ ]:
a[19:] # 끝번호 부분을 생략하면 시작번호 부터 끝까지 출력

'You need python'

In [ ]:
a[:17] #시작 번호를 생략하면 처음부터 끝 번호까지 출력

'Life is too short'

In [ ]:
a[:] # 처음부터 끝까지 출력

'Life is too short, You need python'

In [ ]:
a[19:-7] # 마이너스 기로 사용 가능

'You need'

### 슬라이싱으로 문자열 나누기

In [ ]:
a = "20010331Rainy"
date = a[:8]
weather= a[8:]
date

'20010331'

In [ ]:
weather

'Rainy'

In [ ]:
a = "pithon" # i를 y로 바꾸는 방법
a[:1]
a[2:]
a[:1]+'y'+a[2:]

'python'

### 문자열 포매팅
 - 문자열 안의 특정한 값을 바꿔야 할 경우 사용하는 것

In [ ]:
"i eat %d apples" % 3 #  숫자를 바로 대입

'i eat 3 apples'

In [ ]:
"i eat %s apples" % "five" # 문자열 바로 대입

'i eat five apples'

### 숫자 값을 나타내는 변수로 대입

In [ ]:
number = 3
"i eat %d apples" % number

'i eat 3 apples'